In [1]:
import pandas as pd

## File Handling

Fungsi utama untuk bekerja dengan file dalam Python adalah fungsi open().

Fungsi open() mengambil dua parameter; nama file, dan modus.

Ada empat metode (modus) yang berbeda untuk membuka file:

"r" - read - Nilai default. Membuka file untuk membaca, kesalahan jika file tidak ada

"a" - append - Membuka file untuk ditambahkan, membuat file jika tidak ada

"w" - write - Membuka file untuk ditulis, membuat file jika tidak ada

"x" - create - Membuat file yang ditentukan, mengembalikan kesalahan jika file ada

In [93]:
nama_file = input("Input nama file yang ingin dibuka: ")
f = open(f"/Users/raflidewanto/Desktop/{nama_file}", "r") # gunakan 
print(f"Isi file \"test.txt\":\n{f.read()}")
print(f"Mode file: {f.mode}")
f.close()

Input nama file yang ingin dibuka: test.txt
Isi file "test.txt":
Halo! nama saya Rafli
Mode file: r

In [23]:
nama_file = input("Input nama file yang ingin dibuka: ")
try:
    f = open(f"/Users/raflidewanto/Desktop/{nama_file}", "r")
    print(f.readline())
except FileNotFoundError:
    print("File tidak ada/ada kesalahan penulisan file")

Input nama file yang ingin dibuka: test.txt
Halo! nama saya Rafli

In [22]:
file = open('/Users/raflidewanto/Downloads/Google Stock Market Data.csv', 'r')
print (file.read(1485))

Date,Open,High,Low,Close,Volume,Adj Close
8/19/2014,585.002622,587.342658,584.002627,586.862643,978600,586.862643
8/18/2014,576.11258,584.512631,576.002598,582.162619,1284100,582.162619
8/15/2014,577.862619,579.382595,570.522603,573.482626,1519100,573.482626
8/14/2014,576.182596,577.902645,570.882599,574.652582,985400,574.652582
8/13/2014,567.312567,575.002602,565.752564,574.782577,1439200,574.782577
8/12/2014,564.522567,565.902572,560.882518,562.732562,1542000,562.732562
8/11/2014,569.992585,570.492553,566.002578,567.882551,1214700,567.882551
8/8/2014,563.562536,570.252576,560.352561,568.772565,1494700,568.772565
8/7/2014,568.00257,569.89258,561.102543,563.362525,1110900,563.362525
8/6/2014,561.782569,570.702601,560.002541,566.376589,1334300,566.376589
8/5/2014,570.052564,571.982601,562.612543,565.072537,1551200,565.072537
8/4/2014,569.042592,575.352622,564.102531,573.152619,1427300,573.152619
8/1/2014,570.402584,575.962633,562.85252,566.072533,1955200,566.072533
7/31/2014,580.602616,583.652668,570.002561,571.602592,2102700,571.602592
7/30/2014,586.55265,589.502696,584.002627,587.42265,1016400,587.42265
7/29/2014,588.752653,589.702646,583.517654,585.612633,1349800,585.612633
7/28/2014,588.072688,592.502683,584.755668,590.602697,986800,590.602697
7/25/2014,590.402686,591.862684,587.032665,589.022681,932400,589.022681
7/24/2014,596.452725,599.502716,591.772654,593.352671,1035100,593.352671
7/23/2014,593.232713,597.852683,592.502683,595.982686,1233100,595.982686

In [69]:
filename = "/Users/raflidewanto/Downloads/Data mahasiswa.xlsx"
df = pd.read_excel(filename, sheet_name = "Sheet1", engine='openpyxl')
df.head(10)

        NPM                           Nama  Kelas                     Jurusan
0  50420482         Abdul Rifai Natanegara  2IA08     S1 - Teknik Informatika
1  11521492          Nurdin Hasjim Johanes  1PA23              S1 - Psikologi
2  39119382               Amelia Kurniawan  3MI01  D3 - Manajemen Informatika
3  46920482                   Eddy Handoko  2KD03             S1 - Kedokteran
4  52812103          Farhan Zainal Ramadan  1IK01          S1 - Ilmu Komputer
5  51419202  Giovani Maria Ekaputra Suhari  4IA02     S1 - Teknik Informatika
6  29219492             Christian Iskandar  4TM03           S1 - Teknik Mesin
7  49219314                 Brian Prasetyo  3DB16        S1 - Teknik Industri
8  11249302         Cassandra Elly Lestari  1KA22       S2 - Sistem Informasi
9  29421390                  Arif Setiawan  2MT10             S1 - Matematika

In [30]:
df = pd.read_excel (r'/Users/raflidewanto/Downloads/gajikaryawan.xlsx')

In [34]:
df.head(15)

,No,Nama,Golongan,Masa Kerja (Tahun),Status Pernikahan,Gaji Pokok
0,1,Agustinus Wibowo,A,10,Menikah,7000000
1,2,Rahmat Effendi,A,8,Menikah,7000000
2,3,Faisal Agung,A,9,Belum Menikah,7000000
3,4,Meidina Silfia,B,5,Menikah,5000000
4,5,Cantika Wardani,B,6,Menikah,5000000
5,6,Dita Saraswati,B,5,Belum Menikah,5000000
6,7,Denis Juliasari,B,4,Belum Menikah,5000000
7,8,Fajar Sentoro,B,6,Menikah,5000000
8,9,Hermawan Wijayanto,C,2,Belum Menikah,4500000
9,10,Berliana Wahyuni,C,3,Belum Menikah,4500000
10,11,Nur Faisal,C,1,Menikah,4500000
11,12,Fajriani Arif,C,2,Belum Menikah,4500000
12,13,Maya Larasati,C,3,Menikah,4500000
13,14,Muhammad Adnan,C,1,Belum Menikah,4500000
14,15,Ahmad Agung,C,2,Belum Menikah,4500000

In [92]:
with open(f"/Users/raflidewanto/Desktop/test.txt", "r") as f:
    print(f.read())

Halo! nama saya Rafli

In [36]:
f = open('/Users/raflidewanto/Desktop/test2.txt', 'r')
print(f.read())

Rafli sedang belajar.

### Menggunakan modus "a" untuk menambahkan data pada file

In [3]:
# Membuat file baru dengan ekstensi .txt
f = open("/Users/raflidewanto/Desktop/test3.txt", "a")
f.write("File handling.")
f.close()

f = open('/Users/raflidewanto/Desktop/test3.txt', 'r')
print(f.read())

File handling.

In [4]:
f = open("/Users/raflidewanto/Desktop/test2.txt", "a")
f.write(" file handling python.") # menambahakan text pada file text2.txt
f.close()

f = open("/Users/raflidewanto/Desktop/test2.txt", "r")
print(f.read())

Rafli sedang belajar. file handling python.

### Modus "w" untuk overwrite data pada file

In [9]:
f = open("/Users/raflidewanto/Desktop/demofile.txt", "w") # akan membuat file baru karena file dengan nama tersebut
f.write("test overwrite file.txt")                        # tidak ada.
f.close()

#open and read the file after the appending:
f = open("/Users/raflidewanto/Desktop/demofile.txt", "r")
print(f.read())

test overwrite file.txt

In [4]:
f = open("/Users/raflidewanto/Desktop/demofile2.txt", "x") # membuat file .txt dengan isi kosong.

### Menghapus file

In [8]:
import os
os.remove("jupyter.txt") # akan muncul FileNotFoundError karena file pada directory ini tidak ada.

FileNotFoundError: [Errno 2] No such file or directory: 'jupyter.txt'

In [7]:
import os
if os.path.exists("python.txt"):
    os.remove("python.txt")
else:
    print("File tidak ditemukan.")

File tidak ditemukan.

## Exception Handling
memungkinkan untuk menulis program yang menangani eksepsi yang dipilih.

In [ ]:
while True:
    try:
        x = int(input("Masukkan bilangan bulat: "))
        break
    except ValueError:
        print("Input invalid.")

In [55]:
bil_user = int(input("Masukkan bilangan positif: "))

if bil_user < 0:
    raise ValueError("Bilangan harus positif!")
else:
    print(bil_user)

Masukkan bilangan positif: -1

ValueError: Bilangan harus positif!

In [44]:
def kuadrat(x):
    assert x>=0, 'Input harus bilangan positif!' # mengecek apakah x>=0 jika false akan raise AssertionError
    return x*x

kuadrat(2)

4